Source: piecalc
Maintainer: Ondřej Budai <ondrej@budai.cz>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: piecalc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Simple calculator
 Simple calculator