[Desktop Entry]
Version=1.0
Name=PieCalc
Comment[cs]=Kalkulačka pro počítání příkladů
Comment[en]=Calculator for solving equations
Type=Application
Categories=GNOME;GTK;accessories;office;
Keywords[cs]=kalkulačka;příklad;rovnice;kovár;matematika;
Keywords[en]=calculator;equation;solving;math;kovar;
Exec=/usr/bin/piecalc %U
Icon=/usr/share/piecalc/icon_256x256.png